@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {margin: 0; padding: 0; font-family: 'Noto Sans KR'; font-size: 14px; color: #727272;}
img, fieldset, input, select, textarea, button {border: none;}
ul, ol, li {list-style: none;}
table {width: 100%; border-spacing: 0; border-collapse: collapse;}
address, cite, code, em {font-style: normal; font-weight: normal;}
label, img, input, select, textarea, button, a {vertical-align: middle;}
a {color: #000; text-decoration: none;}

.clear {clear: both;}
.clear:after {content: ""; display: block; clear: both;}
.hide {overflow: hidden; display: block; position: absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
button {cursor: pointer;}
