header {position: relative; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
header h1 {position: absolute; left: 0; top: 0; padding: 0 0 0 26px;}
header h1 a {display: block; width: 99px; height: 69px; background: url(images/h1_logo0.png) no-repeat center;}
header nav ul {text-align: center; font-size: 0;}
header nav ul li {display: inline-block;}
header nav ul li a {display: block; padding: 0 47.5px; line-height: 69px; font-size: 18px; color: #000;}
header .util {position: absolute; right: 0; top: 0;}
header .util a {display: inline-block; position: relative; padding: 0 18px; line-height: 69px; font-size: 12px; color: #333; vertical-align: middle;}
header .util a ~ a:before {content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 9px; transform: translateY(-50%); background: #ddd;}
header .util button {width: 60px; height: 69px; background: url(images/btn_search.png) no-repeat center #043285; vertical-align: middle;}
main {display: block; height: calc(100vh - 71px); background: #ccc; line-height: calc(100vh - 71px); text-align: center; font-size: 50px; color: #000; font-weight: bold;}
