header {position: relative;}
header:after {content: ""; position: absolute; left: 0; right: 0; bottom: 0; z-index: -1; height: 2px; background: linear-gradient(to right, #e94e66, #f08925);}
header > div {width: 1160px; padding: 32px 0 0; margin: 0 auto;}
header h1 {float: left;}
header h1 a {display: block; width: 99px; height: 58px; background: url(images/h1_logo3.png) no-repeat center;}
header .lang {float: right;}
header nav {float: left; padding: 0 0 0 43px;}
header nav a {letter-spacing: -0.25px;}
header .gnb > li {float: left; position: relative; width: 165px;}
header .gnb > li.w2 {width: 219px;}
header .gnb > li:hover > a {color: #e6223e;}
header .gnb > li:hover > div {background: #fff;}
header .gnb > li > a {display: block; font-size: 16px; color: #222; line-height: 58px; text-align: center;}
header .gnb > li > div {display: none; position: absolute; left: 0; z-index: 3; width: 100%; padding: 16px 20px; box-sizing: border-box; border-left: 1px solid #d7d7d7;}
header .gnb > li:last-child > div {border-right: 1px solid #d7d7d7;}
header .gnb > li > div > div > ul a {display: block;}
header .gnb > li > div > div > ul > li {line-height: 40px;}
header .gnb > li > div > div > ul > li > a {font-size: 15px; color: #222;}
header .gnb > li > div > div > ul > li > ul {padding: 0 0 8px;}
header .gnb > li > div > div > ul > li > ul > li {line-height: 26px;}
header .gnb > li > div > div > ul > li > ul > li a {font-size: 13px; color: #6a6a6a;}
header .gnb > li.w2 > div > div {float: left; width: 50%;}
.bg_gnb {display: none; position: absolute; left: 0; right: 0; top: 90px; z-index: 2; background: #ececec; border-top: 1px solid #d7d7d7;}
.bg_gnb:after {content: ""; position: absolute; left: 0; right: 0; bottom: 0; border-top: 1px solid #d7d7d7;}
.ie9 header:after {background: #e94e66;}
