main {display: block; width: 1240px; margin: 0 auto;}
main h2 {padding: 90px 0 58px; line-height: 1; font-size: 38px; color: #333; text-align: center;}
.tab {padding: 0 0 14px;}
.tab ul {display: flex;}
.tab ul li {flex: 1; position: relative; margin: 0 0 0 -1px; border: 1px solid #d2d2d2;}
.tab ul li.on {z-index: 2; border-color: #ed008c;}
.tab ul li.on button {background: #ed008c; color: #fff;}
.tab ul li button {width: 100%; height: 56px; background: #fff; font-size: 17px; color: #333;}
.tab ul li:first-child {border-radius: 2px 0 0 2px;}
.tab ul li:last-child {border-radius: 0 2px 2px 0;}
.tab_content {display: none; background: #e5e5e5; line-height: 212px; text-align: center; font-size: 100px; color: #000;}
.tab_content.on {display: block;}
.ie9 .tab ul:after {content: ""; display: block; clear: both;}
.ie9 .tab ul li {float: left; width: 33.33%; box-sizing: border-box;}
.ie9 .tab ul.no2 li {width: 50%;}
.ie9 .tab ul.no4 li {width: 25%;}
.ie9 .tab ul.no5 li {width: 20%;}
